@font-face {
  font-family: Banquise;
  src: url("../fonts/Banquise-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "basiic";
  src: url("../fonts/basiic.ttf") format("truetype");
}

@font-face {
  font-family: "Romance";
  src: url("../fonts/RomanceA.ttf") format("truetype");
}

@font-face {
  font-family: "Webfont";
  src: url("../fonts/000webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Yoster";
  src: url("../fonts/yoster.ttf") format("truetype");
}

@font-face {
  font-family: "Heart";
  src: url("../fonts/heartfont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #6040b1 #0b0618;
}

body {
  background-color: #006;
  color: #d4d7de;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "basiic", serif;
}

.dashed-black-container {
  border: 1px solid #f0f0f0;
  /* Light border */
  box-shadow: 0 0 10px rgba(240, 240, 240, 0.3);
  /* Light box shadow */
  border-radius: 8px;
  background-color: black;
}

.container-margin {
  margin: 20px 200px;
}

button {
  cursor: pointer;
}

a {
  color: white;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #ff9200;
  text-decoration: none;
}

.shade {
  background-image: url("../images/snow.gif");
  background-size: 100px;
  opacity: 0.7;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}

.shade-2 {
  background-image: url("../images/winter-clouds.png");
  background-size: 50%;
  opacity: 0.8;
  z-index: -2;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  float: left;
}

.shade-3 {
  background-image: url("../images/starsky.gif");
  opacity: 0.4;
  z-index: -3;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}

.shade-4 {
  background-image: url("../images/pixel-city.gif");
  opacity: 1;
  z-index: -5;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}

.shade-5 {
  background-image: url("../images/starspink.gif");
  background-size: 5%;
  opacity: 1;
  z-index: -5;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}

.top-shade {
  background-image: url("../images/starline.gif");
  background-size: 20%;
  float: left;
  height: 100px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 7px;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logged-in {
  margin-left: 130px;
}

.cyberpunk-nav .nav-list {
  font-family: "basiic", serif;
  list-style-type: none;
  padding-left: 0;
}

/* Dropdown Button */
.cyberpunk-nav .dropbtn {
  background-color: #000;
  /* Dark gray */
  color: #fff;
  padding: 16px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 6px;
  margin-left: 10px;
}

/* Dropdown Content */

.cyberpunk-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  /* Dark gray */
  min-width: 170px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 14px;
  margin-left: 10px;
}

.cyberpunk-nav .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition:
    background-color 0.5s,
    transform 0.5s;
}

.cyberpunk-nav .dropdown-content a:hover {
  background-color: #711c91;
  /* Neon purple */
  transform: scale(1.1);
  /* Scale up effect on hover */
}

/* Show the dropdown menu on hover */
.cyberpunk-nav .dropdown:hover .dropdown-content {
  display: block;
}

/* Add a glow effect to the dropdown links */
.cyberpunk-nav .dropdown-content a {
  position: relative;
}

.cyberpunk-nav .dropdown-content a:hover::before {
  transform: scale(1.2);
  opacity: 1;
}

.spin-img {
  animation: spin 4s linear infinite;
}

.spin-img:active {
  transform: translateY(2px);
}

.spin-img:hover {
  animation: spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header img {
  margin-left: 10px;
  margin-right: 10px;
}

.ragnarok-logo-frame a {
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo {
  font-family: Banquise, serif;
  font-size: 100px;
  color: #fff;
  text-shadow:
    0 0 5px #33ccff,
    0 0 10px #00bfff,
    0 0 20px #1e90ff,
    0 0 40px #0000ff;
  margin-left: 20px;
}

.content-container {
  padding: 15px 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-family: Romance, serif;
  font-size: 30px;
  color: white;
}

thead th {
  text-align: center;
  vertical-align: middle;
}

td {
  padding: 10px;
  border: 1px solid #c45aeb;
  text-align: left;
}

.post-logo {
  text-align: center;
}

.boards-header,
.topics th,
tbody tr,
.info-center-frame p {
  background-color: #000033;
  /* Example body row background color */
  color: #abb2bf;
  /* Example body row text color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  /* Light box shadow */
}

td[colspan="5"],
td[colspan="4"],
.info-center-frame div,
#registration-agreement,
.registration-form header,
.topic-header {
  padding: 10px;
  font-family: Romance, serif;
  font-size: 30px;
  background-size: 50%;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)),
    url("../images/retro-pizza.gif");
  background-blend-mode: screen;
  color: white;
  text-align: left;
}

.info-center-header {
  font-family: Romance, serif;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-button {
  border-radius: 4px;
  /* Rounded corners */
  transition: 0.5s linear;
  /* Transition effect for background color */
  margin-right: 10px;
  background-color: rgba(103, 89, 89, 0.3);
}

.accordion-button:after {
  font-size: 15px;
  content: "\02795";
}

.accordion-button.active {
  background-color: rgb(255, 255, 255);
}

.accordion-button.active:after {
  content: "\2796";
}

.info-center-frame {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 1000px;
  /* higher than actual height to allow accordion animation on first click */
  border: 1px solid #c45aeb;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  /* Light box shadow */
}

.info-center-frame p {
  padding: 10px;
  line-height: 1.5em;
}

footer {
  font-family: "basiic", serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  margin: 20px 200px;
  font-weight: 600;
  color: white;
}

.bottom-footer {
  text-align: center;
}

/* modal background */
.modal,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6,
.modal7,
.modal8,
.modal9,
.modal10,
.modal11,
.modal12,
.modal13,
.modal14 {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 0.5s ease;
  /* Updated to black with transparency */
}

.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.modal-container {
  padding: 30px;
  /* Slightly more opaque black */
  border-radius: 8px;
  border: 1px solid #c45aeb;
  /* Neon purplish-pink border */
  font-family: "Press Start 2P", cursive;
  color: white;
  /* Neon purplish-pink text */
  width: auto;
  max-width: 500px;
}

.modal-container,
.agreement-frame,
.registration-form-frame,
.search-container,
.category-modal-frame,
.board-modal-frame,
.user-modal-frame,
.post-modal-frame,
.reply-modal-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal h2 {
  margin: 0;
  flex-grow: 1;
  color: white;
  /* Neon purplish-pink text color */
  text-shadow:
    0 0 5px #f975f7,
    /* Lighter neon purplish-pink glow */ 0 0 10px #c45aeb,
    /* Neon purplish-pink glow */ 0 0 20px #c45aeb;
  /* Enhanced neon glow for depth */
  font-family: "Press Start 2P", cursive;
  /* Ensure font consistency */
}

.modal-content {
  padding: 20px;
  border: 1px solid #c45aeb;
  /* Neon purplish-pink border */
  text-align: left;
}

.modal .close-btn {
  font-family: "Press Start 2P", serif;
  /* Ensures font consistency with the Login text */
  font-size: 20px;
  /* Size of the X button */
  color: white;
  /* Sets the initial color to white, matching the Login text */
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-shadow:
    0 0 5px #f975f7,
    /* Lighter neon purplish-pink glow */ 0 0 10px #c45aeb,
    /* Neon purplish-pink glow */ 0 0 20px #c45aeb;
  /* Enhanced neon glow for depth */
}

.modal .close-btn:hover,
.modal .close-btn:focus {
  color: #f975f7;
  /* Changes color on hover/focus to a lighter neon purplish-pink */
  text-shadow:
    0 0 8px #f975f7,
    0 0 12px #c45aeb,
    0 0 24px #c45aeb;
  /* Intensifies the neon glow effect on hover/focus */
  transform: scale(1.15);
  /* Scales up slightly for visual feedback */
}

.modal button[type="submit"] {
  font-family: "Press Start 2P", serif;
  background-color: #9932cc;
  /* Reinstated base color for the button */
  color: #f0f0f0;
  /* Maintaining light text for contrast */
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #c45aeb;
  /* Pinkish border without glow */
  border-radius: 4px;
  box-shadow: none;
  /* Remove glow effect */
  transition:
    background-color 0.2s,
    border-color 0.2s;
  /* Smooth transition for color and border */
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #da70d6;
  /* Lighter purple on hover */
  border-color: #f975f7;
  /* Lighter pinkish border on hover */
}

.modal input {
  width: calc(100% - 10px);
  font-family: "Press Start 2P", serif;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background-color: #121212;
  /* Dark background for inputs */
  color: white;
  /* Changes text color to white */
  border: 1px solid #c45aeb;
  /* Neon border */
}

.modal input::placeholder {
  color: #ccc;
  /* Lighter color for placeholder text */
}

.modal input,
.modal button {
  width: calc(100% - 10px);
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background-color: #121212;
  /* Neon purplish-pink text */
  border: 1px solid #c45aeb;
  /* Neon border */
}

.modal input:focus,
.modal button:focus {
  border-color: #f975f7;
  /* Lighter neon for focus */
  box-shadow:
    0 0 5px #f975f7,
    0 0 10px #f975f7;
  /* Focus glow effect */
}

.modal a {
  color: #c45aeb;
  /* Neon purplish-pink links */
}

.modal a:hover {
  color: #f975f7;
  /* Lighter neon purplish-pink on hover */
  text-decoration: none;
}

.modal-content span {
  color: #c45aeb;
  /* Neon purplish-pink text for "Don't have an account?" */
  text-align: center;
  /* Centering the text */
  display: block;
  /* Ensures it is centered by taking the full width */
}

.modal-content span a {
  color: white;
}

.agreement-frame {
  width: 750px;
  border: 1px solid #b4b9b4;
  /* Neon green, reminiscent of old computer screens */
  box-shadow: 0 0 10px #b4b9b4;
  /* Glowing effect */
}

.agreement-frame div {
  background-color: rgba(00, 00, 33, 0.7);
  /* Example body row background color */
  padding: 10px;
  text-align: center;
}

.agreement-frame p {
  font-family: "Romance", serif;
  /* Changing the font to 'Romance' */
  padding: 15px;
  text-align: justify;
  line-height: 1.6em;
}

.agreement-frame div button {
  font-family: "Press Start 2P", cursive;
  /* Matches modal font for consistency */
  background-color: #ff00ff;
  /* Bright retro magenta for the background */
  color: #ffffff;
  /* White text for contrast */
  padding: 5px 20px;
  /* Comfortable padding */
  border: 2px solid #00ffff;
  /* Cyan border for that neon retro look */
  border-radius: 5px;
  /* Slight rounding of corners */
  cursor: pointer;
  /* Hand cursor on hover */
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  /* Smooth transitions for interactions */
}

.agreement-frame div button:hover {
  background-color: #ff1493;
  /* Darker magenta on hover/focus for a tactile feel */
  color: #00ffff;
  /* Cyan text on hover/focus for contrast switch */
}

.agreement-frame div button:active {
  transform: translateY(2px);
  /* Slight push effect on click */
}

.registration-form-frame {
  width: 450px;
  border: 1px solid #b4b9b4;
  /* Neon green, reminiscent of old computer screens */
  box-shadow: 0 0 10px #b4b9b4;
  /* Glowing effect */
}

.registration-form {
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
}

.registration-form header {
  margin-top: 0;
  border-bottom: 1px solid #ff00ff;
}

.register_form dt {
  margin-bottom: 10px;
  /* Spacing between label and input */
}

.register_form input {
  color: #fff;
  width: 100%;
  padding: 10px;
  background-color: #000;
  /* Black backgrounds for inputs */
  border: 2px solid #ff00ff;
  /* Magenta border for inputs */
  font-family: "Press Start 2P", cursive;
  box-shadow: 0 0 10px #ff00ff inset;
  /* Inner glow for focus */
}

.register_form input:focus {
  border-color: #ffff00;
  /* Bright yellow on focus */
  box-shadow: 0 0 10px #ffff00 inset;
  outline: none;
  /* Removes the default focus outline */
  transition: 0.5s;
  color: #fff;
}

.registration-form fieldset {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 0;
}

.registration-form fieldset dl {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-area {
  margin-top: 10px;
  text-align: center;
}

.button-area button {
  padding: 10px;
  background-color: #00ff00;
  /* Bright neon green */
  color: #000;
  /* Black text for contrast */
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button-area button:hover {
  background-color: #ff00ff;
  /* Magenta for hover */
  color: #fff;
  /* White text for readability */
}

@keyframes neon-flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 4px #ff66ff,
      0 0 11px #ff66ff,
      0 0 19px #ff66ff,
      0 0 40px #ff00ff,
      0 0 80px #ff00ff,
      0 0 90px #ff00ff,
      0 0 100px #ff00ff,
      0 0 150px #ff00ff;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes glowing {
  0% {
    text-shadow:
      0 0 10px #0000ff,
      0 0 20px #0000ff,
      0 0 30px #0000ff,
      0 0 40px #0000ff;
  }

  50% {
    text-shadow:
      0 0 20px #0000ff,
      0 0 30px #ff4da6,
      0 0 40px #ff4da6,
      0 0 50px #ff4da6,
      0 0 60px #ff4da6;
  }

  100% {
    text-shadow:
      0 0 10px #0000ff,
      0 0 20px #0000ff,
      0 0 30px #0000ff,
      0 0 40px #0000ff;
  }
}

@keyframes pulsing-glow {
  0%,
  100% {
    text-shadow:
      0 0 10px #ff0000,
      0 0 20px #ff0000,
      0 0 30px #ff0000,
      0 0 40px #ff0000;
  }

  50% {
    text-shadow:
      0 0 20px #ff6347,
      0 0 30px #ff6347,
      0 0 40px #ff4500,
      0 0 50px #ff4500,
      0 0 60px #ff4500;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shimmer {
  0% {
    background-position: -50%;
  }

  100% {
    background-position: 150%;
  }
}

@keyframes shoot-arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.topics {
  font-family: "Webfont", Times, serif;
  font-size: 30px;
  border: 1px solid white;
}

.topics th {
  background: #000033;
  border: 1px solid #8f3e97;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.subheading {
  background-image: none !important;
  border: none;
  font-family: "Heart", sans-serif !important;
  font-size: 1em;
  /* Slightly larger to make it more readable */
  text-align: center;
  color: #66ff66;
  /* Neon green to fit the theme */
  font-style: italic;
  background: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background to help it stand out */
  padding: 5px;
  /* Add padding to create space around the text */
  border-radius: 5px;
  /* Rounded corners for a modern look */
  animation: neon-flicker 1.5s infinite alternate;
  /* Apply the neon flicker effect */
}

/* .subheading { */
/*   background-image: none !important; */
/*   border: none; */
/*   font-family: 'Heart' !important; */
/*   font-size: 0.9em; */
/*   text-align: center; */
/*   color: #666; */
/*   font-style: italic; */
/* } */

.center-table-data {
  text-align: center;
}

.username {
  font-family: "Yoster", serif;
  color: white;
  font-size: 1.3em;
  /* Makes the username larger */
  font-weight: bold;
  /* Optional: makes the username stand out more */
  margin-bottom: 0;
  /* Reduces space between the username and the role */
}

.username a,
.post-title a,
.post-section a {
  text-decoration: none;
}

tbody {
  font-family: "basiic", serif;
}

.role {
  font-family: "basiic", serif;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0;
}

.novice-adventurer {
  animation: float 3s ease-in-out infinite;
  color: #7c7c7c;
  /* Grey for beginners */
}

.initiate-acolyte {
  color: #7fdbff;
  animation: flicker 2s linear infinite;
  /* Light blue for initiates */
}

.rookie-blacksmith {
  color: #ffdc00;
  animation: pulse 2s infinite;
  /* Yellow for rookies */
}

.grandmaster-scholar {
  background: linear-gradient(45deg, #b10dc9, #85144b, #b10dc9, #85144b);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s linear infinite;
}

.veteran-archer {
  color: #2ecc40;
  /* Green for veterans */
  text-shadow: 0 0 5px #228b22;
  /* Soft green glow */
}

@keyframes clash {
  0%,
  100% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(5deg);
  }
}

.veteran-archer::after {
  content: "→";
  animation: shoot-arrow 0.5s ease-out infinite;
  display: inline-block;
  margin-left: 5px;
}

.elite-knight {
  color: #0074d9;
  /* Blue for elites */
  text-shadow: 0 0 7px #001f3f;
  /* Strong blue glow */
}

.elite-knight::before {
  content: "⚔️";
  display: inline-block;
  animation: clash 1s infinite;
  margin-right: 3px;
}

.master-assassin {
  color: #ff0000;
  /* Bright red color for masters */
  text-shadow: 0 0 7px #ff4500;
  /* Complementary glow for initial state */
  animation: pulsing-glow 1s infinite;
  /* Applying the pulsing glow effect */
}

.journeyman-wizard {
  color: #f012be;
  /* Magenta for grandmasters */
  text-shadow: 0 0 12px #85144b;
  /* Deep magenta glow */
}

.journeyman-wizard::before {
  content: "✨";
  position: absolute;
  animation: sparkle 1.5s infinite;
  margin-left: -20px;
}

.forum-master {
  color: #ff4136;
  /* Red for forum masters */
  animation: glowing 1s infinite;
  /* Stronger glow effect */
}

.navigation-buttons {
  text-align: center;
  padding: 10px 20px 0 20px;
}

.prev-button,
.next-button,
.reply-button,
.post-button,
.edit-button,
.delete-button,
.save-button,
.create-post-button,
.cancel-button,
.nav-button,
.category-button {
  background-color: #000033;
  /* Dark blue color to match your theme */
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  /* Retro font from your theme */
  font-size: 0.8em;
  outline: none;
  border: 1px solid #8f3e97;
  transition: 0s;
}

.prev-button:hover,
.next-button:hover,
.reply-button:hover,
.post-button:hover,
.edit-button:hover,
.delete-button:hover,
.save-button:hover,
.cancel-button:hover,
.nav-button:hover,
.category-button:hover {
  color: #ffffff;
  background-color: #8f3e97;
  /* Purple color for hover effect */
}

.prev-button:disabled,
.next-button:disabled {
  color: #666666;
  cursor: not-allowed;
}

.post-container-template {
  background-color: #000033;
  border: 1px transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  /* Light box shadow */
  margin-bottom: 20px;
}

.title-header {
  margin-bottom: 20px;
}

.title-header p {
  padding: 10px;
}

.post-section-top,
.reply-section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-side-buttons {
  display: flex;
  align-items: center;
  gap: 10px;

}

.post-section {
  display: flex;
  padding: 10px;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.post-section.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.poster-info {
  width: 20%;
  padding: 5px;
}

.poster-info div {
  margin-bottom: 5px;
}

.poster-name a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Yoster", serif;
}

.poster-role {
  font-size: 17px;
}

.poster-join-date {
  font-size: 14px;
}

.poster-posts {
  font-size: 14px;
}

.post-area {
  width: 90%;
}

.post-info {
  border-bottom: 1px solid;
}

.post-name,
.post-date {
  margin-bottom: 8px;
}

.post-content {
  line-height: 1.5rem;
  padding: 10px 10px 10px 0;
}

.post-content-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 100px 10px 10px 10px;
  gap: 10px;
}

.post-content strong {
  color: #fff;
}

.reply-area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reply-box {
  width: 800px;
  height: 150px;
  max-height: 400px;
  flex-basis: 150px;
  resize: vertical;
  padding: 10px;
  background: #1c1a1a;
  border: 1px solid #bb00bb;
  border-radius: 8px;
  color: white;
  font-family: "basiic", serif;
  font-size: 15px;
  box-shadow:
    0 0 4px rgba(187, 0, 187, 1),
    inset 0 0 4px rgba(0, 187, 0, 0.5);
  outline: none;
  transition:
    box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
  margin-bottom: 20px;
}

#reply-box:focus {
  box-shadow:
    0 0 6px rgba(187, 0, 187, 0.7),
    inset 0 0 6px rgba(0, 187, 0, 0.5);
  border-color: #009999;
}

.profile-container {
  margin: 0px;
}

.profile-area {
  font-size: 25px;
  display: flex;
  padding: 25px 250px;
}

.profile-left {
  width: 40%;
  padding: 5px;
}

.profile-name {
  color: #fff;
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Yoster", serif;
}

.profile-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-info dt {
  margin-bottom: 5px;
}

.terms-container {
  text-align: center;
}

.terms-area {
  font-family: "basiic", serif;
  padding: 20px;
  line-height: 1.6rem;
  text-align: justify;
}

.terms-container img {
  width: 500px;
  height: 500px;
}

.search-container {
  opacity: 1;
  background-color: #222;
  border: 1px solid #666;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  /* Light box shadow */
  border-radius: 5px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-container .search-header {
  background-color: #222;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 20px 0px;
  border-radius: 5px;
  text-transform: uppercase;
  align-items: center;
}

.search-input {
  background-color: #000;
  border: none;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  padding: 5px;
  width: 250px;
}

.search-button {
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}

.search-box + p {
  font-size: 18px;
}

.search-result-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.search-result-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-result-container p {
  font-size: 16px;
}

@keyframes neon-flicker-purple {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 6px #b892ff,
      /* Very light purple for a brighter glow */ 0 0 12px #ab7bff,
      /* Light purple */ 0 0 18px #9a4dff,
      /* Medium purple */ 0 0 24px #8a2be2,
      /* Deeper purple */ 0 0 30px #8a2be2,
      /* Deeper purple for more intense glow */ 0 0 36px #7a0fec,
      /* Even deeper purple */ 0 0 42px #7a0fec,
      /* Intensify the glow */ 0 0 48px #6900ff;
    /* Deep purple for maximum brightness and glow */
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes marquee-animation {
  from {
    transform: translateX(100%);
    /* Start offscreen to the right */
  }

  to {
    transform: translateX(-100%);
    /* End offscreen to the left */
  }
}

.index-subheading {
  background-image: none !important;
  border: none;
  font-family: "Heart", sans-serif !important;
  text-align: center;
  font-style: italic;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  overflow: hidden;
  animation: neon-flicker-purple 1.5s infinite alternate;
  /* Prevent content from overflowing */
  white-space: nowrap;
  /* Ensure the text stays in one line */
}

.marquee {
  display: inline-block;
  animation: marquee-animation 10s linear infinite;
  /* Adjust time as needed */
}

.index-subheading {
  background-image: none !important;
  border: none;
  font-family: "Heart", sans-serif !important;
  text-align: center;
  font-style: italic;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

thead th:nth-child(5) {
  width: 30%;
  /* or any other value */
}

/* Target the "Last Post" data cells */
tbody td:nth-child(5) {
  width: 30%;
  /* Ensuring data cells match the header */
}

.post-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-container {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.upvote-btn,
.downvote-btn {
  font-family: "basiic", serif;
  background-color: #000033;
  color: white;
  padding: 5px 10px;
  border: white 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.upvote-btn {
  background-color: #2c5e1a;
}

.downvote-btn {
  background-color: #5e1a1a;
}

.upvote-btn.active {
  background-color: #30aa1e;
  box-shadow:
    0 0 5px rgba(57, 255, 20, 0.5),
    0 0 10px rgba(57, 255, 20, 0.5),
    0 0 15px rgba(57, 255, 20, 0.5);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform: translateY(2px);
}

.downvote-btn.active {
  background-color: #ff3131;
  box-shadow:
    0 0 5px rgba(255, 49, 49, 0.5),
    0 0 10px rgba(255, 49, 49, 0.5),
    0 0 15px rgba(255, 49, 49, 0.5);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform: translateY(2px);
}

.vote-count {
  font-size: 16px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.create-post-form .form-group {
  display: flex;
  flex-direction: column;
}

.create-post-form .form-control,
.edit-post-textarea {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: "basiic", serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.create-post-form .post-submit-btn {
  background-color: #000033;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
  outline: none;
  border: 1px solid #8f3e97;
  transition: 0s;
  width: 10%;
  margin: auto;
}

.create-post-form .post-submit-btn:hover {
  color: #ffffff;
  background-color: #8f3e97;
}

.edit-post-textarea {
  /* Let it expand vertically */
  resize: vertical;
  /* Allow vertical resizing */
  border-radius: 5px;
  margin: 10px 5px 0 0;
  /* 10px margin from top and left */
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.create-post-form .form-group {
  display: flex;
  flex-direction: column;
}

.create-post-form .form-control,
.edit-post-textarea {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: "basiic", serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.create-post-form .post-submit-btn {
  background-color: #000033;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
  outline: none;
  border: 1px solid #8f3e97;
  transition: 0s;
  width: 10%;
  margin: auto;
}

.create-post-button-container {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
}

.create-post-form .post-submit-btn:hover {
  color: #ffffff;
  background-color: #8f3e97;
}

.edit-profile-container {
  text-align: center;
}

.edit-profile-button {
  background-color: #000033;
  color: #ffffff;
  padding: 5px 15px;
  border: 1px solid #8f3e97;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  transition: background-color 0.3s;
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
}

.edit-profile-button a {
  text-decoration: none;
}

.edit-profile-button:hover {
  background-color: #8f3e97;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* Smaller gap for a more compact form */
  padding: 1rem;
  align-items: center;
  /* Center align form elements */
}

.edit-profile-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-form .form-control {
  padding: 0.4rem;
  /* More compact padding */
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: "Press Start 2P", cursive;
  /* Ensure consistent font */
  font-size: 0.8rem;
  /* Smaller font size for compactness */
  width: 80%;
  /* Adjust width as needed for compactness */
}

.edit-profile-form .update-profile-btn {
  background-color: #000033;
  color: #ffffff;
  padding: 8px 16px;
  /* Adjusted for a more compact button */
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 0.7em;
  /* Smaller font size for the button */
  outline: none;
  border: 1px solid #8f3e97;
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
  width: auto;
  /* Adjust to content width */
}

.edit-profile-form .update-profile-btn:hover {
  color: #ffffff;
  background-color: #8f3e97;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000033;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border: 1px solid #c45aeb;
}

.admin-header {
  font-family: "Yoster";
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  gap: 10px;
}

.header-text {
  animation: neon-flicker-purple 1s infinite alternate;
}

#torch-gif {
  width: 100px;
  height: 100px;
}

.admin-nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.nav-button {
  margin: 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.nav-button.active {
  transform: translateY(4px);
  /* Move the button down */
  box-shadow: 0 0 10px rgba(215, 55, 255, 1);
}

.admin-content-header {
  border-radius: 5px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.category-container {
  margin: 20px 0;
  border: 2px solid #6b4dba;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.2rem;
}

.category-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-container ul {
  list-style: none;
  width: 100%;
  margin-top: 20px;
}

.category-container li {
  /* font-family: "Press Start 2P", cursive; */
  font-family: "basiic";
  color: #a07aff;
  font-size: 21px;
  margin-bottom: 10px;
}

.category-container li span {
  color: #24d1f0;
  font-size: 21px;
  margin-bottom: 5px;
}

.category-container li ul {
  margin-top: 10px;
}

.category-container li ul li {
  color: #fff;
  font-size: 18px;
  margin-left: 40px;
}

.search-bar input {
  background-color: #000033;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.category-button {
  background-color: #895ff1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

/* Style for the modal content frame */
.category-modal-frame,
.board-modal-frame,
.user-modal-frame,
.post-modal-frame,
.reply-modal-frame {
  background-color: #000032;
  padding: 20px;
  border: 2px solid #a361aa;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* Shadow effect */
  min-width: 400px;
}

/* Style for the modal close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #a361aa;
  background: none;
  border: none;
}

/* Style for the modal title */
.category-modal-frame h2,
.board-modal-frame h2,
.user-modal-frame h2,
.post-modal-frame h2,
.reply-modal-frame h2 {
  font-family: "Yoster", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffffff;
  /* White text color */
  text-shadow:
    0 0 3px #9b30ff,
    /* Innermost shadow with a soft glow */ 0 0 6px #9b30ff,
    /* Middle shadow with moderate glow */ 0 0 9px #9b30ff;
  /* Outer shadow for a subtle glow */
}

/* Style for the form labels */
.category-modal-frame label {
  font-weight: bold;
}

/* Style for the input fields */
.category-modal-frame input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Ensure padding and border are included in width */
}

/* Style for the submit button */
.category-modal-frame button[type="submit"],
.board-modal-frame button[type="submit"],
.user-modal-frame button[type="submit"],
.post-modal-frame button[type="submit"],
.reply-modal-frame button[type="submit"] {
  background-color: #000033;
  /* Dark blue color to match your theme */
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  /* Retro font from your theme */
  font-size: 0.8em;
  outline: none;
  border: 1px solid #8f3e97;
  transition: 0s;
}

/* Change submit button color on hover */
.category-modal-frame button[type="submit"]:hover,
.board-modal-frame button[type="submit"]:hover,
.user-modal-frame button[type="submit"]:hover,
.post-modal-frame button[type="submit"]:hover,
.reply-modal-frame button[type="submit"]:hover {
  color: #ffffff;
  background-color: #8f3e97;
}

/* Style for the board modal title */
.board-modal-frame h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Style for the board modal form */
.board-modal-frame form {
  display: flex;
  flex-direction: column;
}

/* Style for the board modal labels */
.board-modal-frame label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the board modal inputs */
.board-modal-frame input[type="text"],
.board-modal-frame textarea,
.board-modal-frame select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the user modal frame */
.user-modal-frame {
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 400px;
  margin: 0 auto;
}

/* Style for the user modal title */
.user-modal-frame h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Style for the user modal form */
.user-modal-frame form {
  display: flex;
  flex-direction: column;
}

/* Style for the user modal labels */
.user-modal-frame label {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the user modal inputs */
.user-modal-frame input[type="text"],
.user-modal-frame input[type="password"],
.user-modal-frame input[type="email"],
.user-modal-frame select,
.user-modal-frame textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the post modal title */
.post-modal-frame h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Style for the post modal form */
.post-modal-frame form {
  display: flex;
  flex-direction: column;
}

/* Style for the post modal labels */
.post-modal-frame label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the post modal inputs */
.post-modal-frame input,
.post-modal-frame select,
.post-modal-frame textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  /* Ensure the padding and border are included in the width */
}

/* Style for the reply modal title */
.reply-modal-frame h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Style for the reply modal form */
.reply-modal-frame form {
  display: flex;
  flex-direction: column;
}

/* Style for the reply modal labels */
.reply-modal-frame label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the reply modal inputs */
.reply-modal-frame select,
.reply-modal-frame textarea,
.reply-modal-frame input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  /* Ensure the padding and border are included in the width */
}

.category-actions .category-button {
  display: none;
}

.category-container:hover .collapse-button {
  display: flex !important;
}

.category-container:hover .category-button {
  display: inline-block;
  /* or any other desired display property */
}

.collapse-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 13px;
}

.collapse-button::before {
  content: "\25B6";
  transition: transform 0.1s ease;
  position: absolute;
  left: 0.5rem;
}

.collapse-button.active::before {
  transform: rotate(90deg);
  /* Rotate the pseudo-element when button is active */
}

textarea {
  resize: vertical;
}

.pinned {
  background-color: #222268;
}

.post-section:nth-child(odd) {
  background: linear-gradient(to right, #010e29, #1f2a4e, #000033);
}

.post-section:nth-child(even) {
  background: linear-gradient(to right, #0c0c31, #542a6d, #51235a, #030330);
}

.category-container:nth-of-type(even) {
  background-color: #222268;
}

ul li:nth-last-child(1) span,
ul li:nth-last-child(2) span {
  color: #fff896;
}

.legend-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align the flex items (children) */
  overflow: hidden;
  /* transition: max-height 0.3s ease; */
  max-height: 500px;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.4); */
  box-shadow: none;
  margin: 10px auto;
  padding: 10px;
  width: auto;
  max-width: 80%;
  background-color: transparent;
}

.legend-frame p {
  font-family: "basiic", serif;
  text-align: center;
  /* Center aligns the legend text */
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}

.legend-frame table {
  display: flex;
  flex-direction: column;
  /* Aligns table rows vertically */
  align-items: center;
  /* Center aligns the table within its container */
  margin: 0;
  width: 100%;
  /* Adjusted to take the full width for better alignment control */
  background-color: transparent;
}

.legend-frame table tbody {
  display: flex;
  flex-direction: row;
  /* Aligns items horizontally */
  justify-content: center;
  /* Center spacing for items */
  width: 100%;
  /* Ensure tbody takes full width of the table */
}

.legend-frame table tr {
  display: flex;
  flex-direction: row;
  /* Adjusted for horizontal alignment of cells */
  justify-content: center;
  /* Ensures items within are centered */
  width: 100%;
  box-shadow: none;
  background-color: black;
  /* Full width to accommodate center alignment */
}

.legend-frame table td {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  font-family: "WebFont";
  color: #d4d7de;
  background-color: black;
  font-size: 1.3em;
  border: none;
}

.legend-frame img {
  margin: 0;
  width: 30px;
  height: auto;
}

.page-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  background-color: #000044;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  text-decoration: none;
}

/* Hover effect */
.page-button:hover {
  background-color: #0000EE;
}

.currentPage {
  /* Add styles for the current page button */
  /* For example: */
  background-color: #007bff;
  color: #ffffff;
  transform: scale(1.1);
}

#bot, #top{
  display: inline-block;
  padding: 8px 16px;
  background-color: #444444;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive; /* Use a retro pixel font */
  font-size: 14px; /* Adjust font size */
  border-radius: 4px; /* Add some rounded corners */
}

#bot:hover, #top:hover {
  background-color: #242222; /* Darken the background on hover */
}

img[alt="candy pin gif"] {
  width: 30px;
  height: 30px;
  transform: scale(1.75);
}

.post-button {
  margin-top: 20px;
}

.ql-container.ql-snow {
  width: 1000px;
  flex-basis: 150px;
  padding: 10px;
  background: linear-gradient(to right, #2548a7, #9e4b9e);
  border: 1px solid #bb00bb;
  border-radius: 8px;
  color: white;
  font-family: "basiic", serif;
  font-size: 15px;
  box-shadow:
      0 0 4px rgba(187, 0, 187, 1),
      inset 0 0 4px rgba(0, 187, 0, 0.5);
  outline: none;
  transition:
      box-shadow 0.3s ease-in-out,
      border 0.3s ease-in-out;
  margin-bottom: 20px;
}

.ql-container.ql-snow:focus-within {
  box-shadow:
      0 0 6px rgba(187, 0, 187, 0.7),
      inset 0 0 6px rgba(0, 187, 0, 0.5);
  border-color: #009999;
}

.ql-toolbar.ql-snow {
  width: 1000px;
  padding: 10px;
  background: linear-gradient(to right, #2548a7, #9e4b9e);
  border: 1px solid #bb00bb;
  border-radius: 8px;
  color: white;
  font-family: "basiic", serif;
  font-size: 15px;
  box-shadow:
      0 0 4px rgba(187, 0, 187, 1),
      inset 0 0 4px rgba(0, 187, 0, 0.5);
  outline: none;
  transition:
      box-shadow 0.3s ease-in-out,
      border 0.3s ease-in-out;
  margin-bottom: 20px;
}

.ql-toolbar.ql-snow .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker-item {
  color: white !important;
}

.ql-toolbar.ql-snow .ql-stroke {
  stroke: white !important;
}

.ql-editor::before {
  color: rgb(160, 160, 160) !important; /* Replace with your desired color */
}

.ql-snow .ql-picker-item {
  color: #000 !important; /* Change to your desired color */
}

.ql-snow .ql-picker-label {
  color: #000 !important; /* Change to your desired color */
}

.ql-snow .ql-picker-item::before {
  color: #313131; /* Set the color of the header selection text */
}

.ql-container.ql-snow .ql-editor {
  min-height: 150px;
}

.ql-toolbar .ql-formats:not(:has(.emoji-toolbar-icon)) {
  border: 1px solid #757474;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ql-container.ql-snow .ql-editor strong {
  color: white;
}

.ql-toolbar .ql-formats .ql-custom-emoticon-13 {
  margin-bottom: 14px;
}